<!doctype html>
<html>
  <head>
    <base href="/">
    <title>Baby Blue</title>
    
    <link rel="stylesheet" href="assets/stylesheets/style.css"></link> 
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.light_blue-light_blue.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-touch.js"></script>
    <script src="/modules/angular-ui-router.js"></script>
  
    <script src="app.js"></script>

  </head>
  <body ng-app="app" ng-controller="MainController">
    <div id="fb-root"></div>
    
    <div id="info-banner" ng-bind="info">
<!--      <span ng-bind="info"></span>-->
    </div>
    
    <section class="frame">
        <div class="top-bar"></div>
        <div class="top-bar-shadow"></div>
        <div class="left-triangle"></div>
        <div class="right-triangle"></div>
        <div class="left-bar-shadow"></div>
        <div class="left-bar"></div>
        <div class="right-bar-shadow"></div>
        <div class="right-bar"></div>
    </section>
    
    <img src="assets/images/logo-white.png" class="logo"/>
    
    
    <div class="login-decoration"><span ng-bind="welcome"></span><br><span ng-bind="username"></span></div>

    <div class="login-user" ng-hide="logged != 'no'">
      <div class="mdl-textfield mdl-js-textfield textfield-login">
        <input class="mdl-textfield__input" type="text" id="email" autocomplete="off" ng-model="email"/>
        <label class="mdl-textfield__label" for="sample1"><span class="login-color">email</span></label>
      </div>
    </div>
    <div class="login-pass" ng-hide="logged != 'no'">
      <div class="mdl-textfield mdl-js-textfield textfield-login">
        <input class="mdl-textfield__input" type="password" id="pass" ng-model="pass"/>
        <label class="mdl-textfield__label" for="sample1"><span class="login-color">password</span></label>
      </div>
    </div>
    <div class="login-buttons">
      <span ng-hide="logged != 'no'">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="login()">
          <span class="login-button-color">Login</span>
        </button>
        <a href="/registration"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <span class="login-button-color">Register</span>
        </button></a>
        <div><a class="btnz share facebook" href="#" ng-click="facebook()"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Facebook Login</a></div>
      </span>
      <span ng-hide="logged == 'no'" class="ng-cloak">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="logout()">
          <span class="login-button-color">Logout</span>
        </button>
        <a href="/registration"><button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <span class="login-button-color">Profile</span>
        </button></a>
      </span>
    </div>

    
    <div class="login-facebook">
      <div class="fb-login-button" data-max-rows="1" data-size="small" data-show-faces="false" data-auto-logout-link="false"></div>
    </div>
    
    <div class="left-sidebar">
      <ul class="side-nav">
        <li><a href="" class="menu-item" ng-click="loadPage('home')">Home</a></li>
        <li><a href="" class="menu-item" ng-click="loadPage('tourney')">Tourney</a></li>
        <li><a href="" class="menu-item" ng-click="loadPage('players')">Players</a></li>
        <li><a href="" class="menu-item" ng-click="loadPage('history')">History</a></li>
        <li><a href="" class="menu-item" ng-click="loadPage('game')">Game</a></li>
        <li><a href="" class="menu-item" ng-click="loadPage('contact')">Contact</a></li>
      </ul>
    </div>
    
    <div class="right-sidebar">
      My team: None
    </div>
    
    <div ui-view></div>
    
  </body>

  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


  <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

</html>