.profile {
    position: relative;
    margin-top: 150px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.glass-profile {
    min-height: 450px;
    max-height: 450px;
}
