<div class="main-content-container">
  <div class="content-offset">

    <div class="banner">
      <div class="banner-title">Baby Blue Basketball</div>
      <div class="banner-winner">Raleigh Hood</div>
      <div class="banner-year">2015</div>
    </div>
    <div class="banner">
      <div class="banner-title">Baby Blue Basketball</div>
      <div class="banner-winner">Blazians</div>
      <div class="banner-year">2014</div>
    </div>

    <div class="banner">
      <div class="banner-title">Baby Blue Basketball</div>
      <div class="banner-winner">Blazians</div>
      <div class="banner-year">2013</div>
    </div>

  </div>
</div>
