<div class="main-content-container">
  <div class="content-offset">
    <div class="registration">
      <div class="glass">
        <div class="registration-container">
          <div class="registration-title">Baby Blue Player Registration</div>
          <hr><br><br>
          <form class="registration-form">
            <h5><b>Basic Information</b></h5>Your email is kept private and your password will have 256-bit encryption
            <hr>
            <div class="registration-line" layout layout-sm="column">
              <md-input-container flex>
                <label>First name</label>
                <input ng-model="vm.user.first">
              </md-input-container>
              <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="vm.user.last">
              </md-input-container>
            </div>

            <div class="registration-line" layout layout-sm="column">
              <md-input-container flex>
                <label>Email Address</label>
                <input ng-model="vm.user.email" type="email">
              </md-input-container>
              <md-input-container flex>
                <label>Player Nickname / Username (ex. King James)</label>
                <input ng-model="vm.user.username">
              </md-input-container>
            </div>

            <div class="registration-line" layout layout-sm="column">
              <md-input-container flex>
                <label>Password</label>
                <input ng-model="vm.user.password" type="password">
              </md-input-container>
              <md-input-container flex>
                <label>Password Again</label>
                <input ng-model="vm.user.password2" type="password">
              </md-input-container>
            </div>

            <br><br>

            <h5><b>Player Information</b></h5>
            Rate your game to the best of your ability
            <hr>
            <div layout>
              <div flex="20" layout layout-align="center center">
                <span class="md-body-1">Handling</span>
              </div>
              <md-slider flex md-discrete ng-model="vm.user.player.handling" step="1" min="1" max="5" aria-label="rating">
              </md-slider>
            </div>
            <div layout>
              <div flex="20" layout layout-align="center center">
                <span class="md-body-1">Endurance</span>
              </div>
              <md-slider flex md-discrete ng-model="vm.user.player.endurance" step="1" min="1" max="5" aria-label="rating">
              </md-slider>
            </div>
            <div layout>
              <div flex="20" layout layout-align="center center">
                <span class="md-body-1">Quickness</span>
              </div>
              <md-slider flex md-discrete ng-model="vm.user.player.quickness" step="1" min="1" max="5" aria-label="rating">
              </md-slider>
            </div>
            <div layout>
              <div flex="20" layout layout-align="center center">
                <span class="md-body-1">Height</span>
              </div>
              <md-slider flex md-discrete ng-model="vm.user.player.height" step="1" min="1" max="5" aria-label="rating">
              </md-slider>
            </div>
            <div layout>
              <div flex="20" layout layout-align="center center">
                <span class="md-body-1">Shooting</span>
              </div>
              <md-slider flex md-discrete ng-model="vm.user.player.shooting" step="1" min="1" max="5" aria-label="rating">
              </md-slider>
            </div>
            <div layout>
              <div flex="20" layout layout-align="center center">
                <span class="md-body-1">Power</span>
              </div>
              <md-slider flex md-discrete ng-model="vm.user.player.power" step="1" min="1" max="5" aria-label="rating">
              </md-slider>
            </div>

            <md-input-container class="md-block">
              <label>Player Description</label>
              <textarea ng-model="vm.user.player.bio" columns="1" md-maxlength="300" md-select-on-focus></textarea>
            </md-input-container>

            <div flex="50">
              <md-checkbox ng-model="vm.terms" aria-label="Checkbox 1">
                I have read the terms and agreements
              </md-checkbox>
            </div>

            <section layout="row" layout-sm="column" layout-align="right">
              <md-button class="md-raised md-primary" ng-click="vm.register()">Submit Registration</md-button>
            </section>

            <br>

            <md-toolbar class="md-warn" ng-show="vm.error != ''">
              <div class="md-toolbar-tools">
                <h2 class="md-flex"><span ng-bind="vm.error"></span></h2>
              </div>
            </md-toolbar>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
