<div class="main-content-container">
  <div class="content-offset">

    <div class="players">
      <div layout layout-sm="column" class="player-search">
        <md-input-container flex>
          <label>Search for player name, nickname, team</label>
          <input ng-model="vm.query">
        </md-input-container>
        <div layout="row" style="position: relative; padding-right: 70px;">
          <md-button ng-click="vm.clearSearch()" style="position: absolute; bottom: 30%;">Clear</md-button>
        </div>
      </div>

      <div layout="row" layout-wrap>
        <div flex="33" ng-repeat="player in vm.players | filter:vm.search">
          <md-card>
            <md-card-content>
              <b>{{ player.first }} {{ player.last }}</b><br>
              <em>{{ player.username }}</em><br><br>
              <div align="center">
                <b>{{ player.team }}</b><span ng-if="!player.team">Free Agent</span><br>
              </div>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
              <a ng-href="/profile/{{ player.username }}" style="color: black;"><md-button>Profile</md-button></a>
              <md-button>Talk</md-button>
            </div>
          </md-card>
        </div>
      </div>
    </div>

  </div>
</div>
