@import "bourbon/bourbon";

body {
  overflow: hidden;
}

a, a:hover, a:link, a:active, a:visited {
  color: white;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

 
::-webkit-scrollbar { 
  display: none; 
}

@font-face {
  font-family: 'DaStreets';
  src: url('../fonts/DaStreets.eot');
}
@font-face {
  font-family: 'DaStreets';
  src: url('../fonts/DaStreets.ttf') format('truetype');
}

$primary-color: #56A0D3;
$frame-color: #0f2734;
$frame-background: url("../textures/concrete_seamless_dark.png");
$left-bar-size: 150px;
$right-bar-size: 200px;

#info-banner {
  height: 0px;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  background: red;
  color: white;
  z-index: 3;
}

.info-animation {
  @include animation(banner 7s 0.1s 1 normal forwards);
}

@include keyframes(banner) {
  0% {
    height: 0px;
  }
  10%{
    height: 23px;
  }
  90%{
    height: 23px;
  }
  100%{
    height: 0px;
  }
}

.top-bar {
  display: inline-block;
  width: 100%;
  height: 50px;
  position: absolute;
  background: $frame-background;
  z-index: 3;
}

.top-bar-shadow {
  display: inline-block;
  width: 100%;
  height: 50px;
  position: absolute;
  box-shadow: 5px 5px 5px #888888;
  z-index: 1;
}

.left-bar {
  display: inline-block;
  width: $left-bar-size;
	height: 100%;
  position: absolute;
	background: $frame-background;
  z-index: 3;
}

.left-bar-shadow {
  display: inline-block;
  width: $left-bar-size;
	height: 100%;
  position: absolute;
  box-shadow: 5px 5px 5px #888888;
  z-index: 1;
}

.left-triangle {
  display: inline-block;
  width: 100px;
  height: 300px;
  background: $frame-background;
  box-shadow: 5px 5px 5px #888888;
  transform: rotate(45deg);
  margin-top: -50px;
  margin-left: 100px;
  position: absolute;
  z-index: 2;
}

.right-bar {
  display: inline-block;
  width: $right-bar-size;
  height: 100%;
  position: absolute;
  right: 0;
  background: $frame-background;
  z-index: 3;
}

.right-bar-shadow {
  display: inline-block;
  width: $right-bar-size;
  height: 100%;
  position: absolute;
  right: 0;
  box-shadow: -5px 5px 5px #888888;
  z-index: 1;
}

.right-triangle {
  display: inline-block;
  width: 100px;
  height: 300px;
  background: $frame-background;
  box-shadow: -5px 5px 5px #888888;
  transform: rotate(-45deg);
  margin-top: -50px;
  margin-right: 150px;
  position: absolute;
  right: 0;
  z-index: 2;
}

/* Frame Corners */
.logo {
  padding: 40px;
  width: 150px;
  position: absolute;
  z-index: 4;
  color: white;
}

.textfield-login {
  line-height: 100%;
  max-width: 120px;
  color: white;
}

.login-color {
  color: grey;
  font-style: italic;
}

.login-button-color {
  color: white;
}

.login-decoration {
  margin-top: 50px;
  margin-right: 30px;
  width: 190px;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 4;
  border-right: solid #FFFFFF;
  border-left: solid #FFFFFF;
  color: white;
}

.login-user {
  margin-top: 10px;
  margin-right: 25px;
  width: 160px;
  position: absolute;
  right: 0;
  z-index: 7;
}

.login-pass {
  margin-top: 45px;
  margin-right: 25px;
  width: 160px;
  position: absolute;
  right: 0;
  z-index: 6;
}

.login-buttons {
  margin-top: 100px;
  margin-right: 30px;
  max-width: 200px;
  position: absolute;
  right: 0;
  z-index: 7;
}

.btnz {
    display: block;
    float: right;
    margin-top: 5px;
    padding: 1px 10px;
    border:none;
    background-color: #ececec;
    text-decoration: none;
    font-size: 12px;
    color: #FFF;
}
 
.btnz:hover {
    color: #efefef;
}

.facebook {
    background-color: #3b5998;
}

.login-facebook {
  margin-top: 140px;
  margin-right: 30px;
  max-width: 200px;
  position: absolute;
  right: 0;
  z-index: 7;
}

/* Sidebar Content */
.left-sidebar {
  padding-top: 200px;
  width: $left-bar-size;
  text-align: center;
  position: absolute;
  z-index: 4;
  font-family: 'DaStreets', serif;
}

$side-nav-color: #909090;
$side-nav-bright: #e8e8e8;

.side-nav {
  display: block;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 1.875rem 0; }
  .side-nav li {
    font-size: x-large;
    font-weight: normal;
    cursor: pointer;
    line-height: 200%;
    margin: 0 0 0.5rem 0; }
    .side-nav li a:not(.button) {
      color: $side-nav-color;
      display: block;
      margin: 0;
      padding: 0.4375rem 0.875rem; }
      .side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
        background: rgba(0, 0, 0, 0.2);
        color: $side-nav-bright; }
      .side-nav li a:not(.button):active {
        color: $side-nav-bright; }
    .side-nav li.active > a:first-child:not(.button) {
      color: $side-nav-bright;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-weight: normal; }
    .side-nav li.divider {
      border-top: 1px solid;
      height: 0;
      list-style: none;
      padding: 0;
      border-top-color: #e6e6e6; }
    .side-nav li.heading {
      color: $side-nav-color;
      font-size: xx-large;
      font-weight: bold;
      text-transform: uppercase; }

.right-sidebar {
  padding-top: 200px;
  width: $right-bar-size;
  text-align: center;
  position: absolute;
  right: 0;
  color: grey;
  z-index: 4;
}

/* Page Content */
.main-content-container {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  background: url("../textures/starry_light.png");
}

.content-offset {
  margin-right: 50px;
}

/* Home Styling */
.banner {
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 800px;
  width: 750px;
  border: 10px solid $primary-color;
  background: url("../textures/cloth_alike.png");
}

.banner-title {
  padding-top: 20px;
  font-size: 96px;
  line-height: 100%;
  color: $primary-color;
}

.banner-winner {
  padding-top: 250px;
  font-size: 120px;
  font-family: 'DaStreets', serif;
}

.banner-year {
  padding-top: 250px;
  font-size: 96px;
  color: $primary-color;
}

/* Registration Styling */
.registration {
  position: relative;
  margin-top: 150px;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 800px;
}

.registration-title {
  font-family: 'Playball', cursive;
  font-size: xx-large;
  text-shadow: 1px 1px 2px #888888;
  color: #353535;
}

.registration-container {
  padding: 40px;
}

.registration-form {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.glass {
  position: relative;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  min-height: 500px;
}

.glass::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.glass .legacy-ie-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
}

/* Players Styling */
.players {
  position: relative;
  margin-top: 150px;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 800px;
}

/* Rules Styling */
.rules {
  position: relative;
  margin-top: 100px;
  text-align: center; 
  height: 1300px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.clipboard {
  width: 100%;
  height: 100%;
  background: url("../images/clipboard.png");
  background-repeat: no-repeat;
}